<div class="main-section" [class.open-more]="chatBoxOpened">
  <div class="row border-chat" (click)="toggleChatBox()">
    <div class="col-md-12 col-sm-12 col-xs-12 first-section">
      <p><span class="dot" [ngStyle]="{'background-color': chatOff ? 'rgb(189, 95, 95)' : 'rgb(78, 214, 151)'}"></span> Angularing Chat</p>
    </div>
  </div>

  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 second-section">
      <div class="col-md-12 col-sm-12 col-xs-12 chat-head-text-info">
        {{ chatHeadTextInfo }}
      </div>
      <div #scrollContainer class="chat-section">
        <ul>
          <div #chatContainer></div>
        </ul>
      </div>
    </div>
  </div>

  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12" [ngStyle]="chatInputColorStyle()">
      <div class="text-bar">
        <input #iptUser type="text" style="width:95%" (keydown.enter)="sendMessageToUser(iptUser)" [placeholder]="placeHolderTextPrivate()"
          [disabled]="chatOff" [ngStyle]="chatInputColorStyle()">
        <svg-icon (click)="sendAlertToUser(iptUser)" src="/assets/send.svg" style="cursor:pointer; fill:rgb(84, 172, 255); width:16px;"></svg-icon>
      </div>
    </div>
  </div>

  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12" [ngStyle]="chatInputColorStyle()">
      <div class="text-bar">
        <input #iptMsg type="text" (input)="sendTypingToAll()" style="width:95%" (keydown.enter)="sendMessageToAll(iptMsg)" [placeholder]="placeHolderTextAll()"
          [disabled]="chatOff" [ngStyle]="chatInputColorStyle()">
        <svg-icon (click)="sendMessageToAll(iptMsg)" src="/assets/send.svg" style="cursor:pointer; fill:rgb(84, 172, 255); width:16px;"></svg-icon>
      </div>
    </div>
  </div>
</div>
