<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-primary">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" [class.active]="navSelectedValue == 'home'">
      <a class="nav-link" (click)="selectedHome()" href="#"><svg-icon src="/assets/home.svg"  style="fill: currentColor; width:32px;"></svg-icon></a>
    </li>
    <li class="nav-item" [class.active]="navSelectedValue == 'about'">
      <a class="nav-link" (click)="selectedAbout()" href="#"><svg-icon src="/assets/home.svg" style="fill:currentColor; width:32px"></svg-icon></a>
    </li>
  </ul>
</nav>