<app-nav (navSelected)="navSelectedValue = $event"></app-nav>

<div [ngSwitch]="navSelectedValue">
  
  <div *ngSwitchCase="'about'">
      Projeto criado por Augusto Mesquita (<a href="https://github.com/Augustomesquita" target="_blank">Perfil GitHub</a>).<br/>Esse aplicativo foi gerado usando Angular CLI version 1.6.5. O intuito dele é parecido com o projeto Typescripting, ou seja, apenas para aprendizado e utilização de técnicas pontuais.
  </div>

  <div *ngSwitchDefault>
    <app-home></app-home>
  </div>
  
</div>