# See http://help.github.com/ignore-files/ for more about ignoring files.

# ----- WEB -----
# compiled output
/AngularingFront/dist
/AngularingFront/tmp

# dependencies
/AngularingFront/node_modules
/AngularingFront/bower_components

# IDEs and editors
/AngularingFront/.idea
/AngularingFront/.vscode
/AngularingFront.project
/AngularingFront.classpath
/AngularingFront.c9/
/AngularingFront*.launch
/AngularingFront.settings/

# misc
/AngularingFront/.sass-cache
/AngularingFront/connect.lock
/AngularingFront/coverage/*
/AngularingFront/libpeerconnection.log
/AngularingFront/npm-debug.log
/AngularingFront/testem.log
/AngularingFront/typings

# e2e
/AngularingFront/e2e/*.js
/AngularingFront/e2e/*.map

#System Files
/AngularingFront/.DS_Store
/AngularingFront/Thumbs.db

# ----- API -----
/AngularingBackend/target/
