<div class="card p-3 m-custom-well-sm background-gray" [ngClass]="borderClass()">
    <div>
        <b>Input Property e Output Property (este último com auxílio do Event Emitter)</b>
        <br/>
        <span>Para verificar o evento que está sendo emitido, abra o console e clique no botão de incremento ou decremento</span>
    </div>
    <div class="text-center">
        <button class="btn" [ngClass]="btnClass()" (click)="decrementa()">
            <b>-</b>
        </button>
        <input [value]="valor" readonly/>
        <button class="btn" [ngClass]="btnClass()" (click)="incrementa()">
            <b>+</b>
        </button>
    </div>
</div>
