<div class="well well-sm" style="margin: 1%; margin-top: 2%; background-color: rgb(255, 254, 166)">
    <div>
        <b>Componente reusável utilizando Input Property e Output Property (este último com auxílio do Event Emitter)</b><br/>
        <b>Para verificar o evento que está sendo emitido, abra o console e clique no botão de incremento ou decremento</b>
    </div>
    <button class="btn btn-primary" (click)="decrementa()">-</button>
    <input [value]="valor" readonly/>
    <button class="btn btn-primary" (click)="incrementa()">+</button>
</div>