<div class="card m-custom-well-sm p-3 mt-3 col-sm-12" [ngClass]="borderClass()">
  <label for="iptText">
    <b>Copiando / Salvando texto utilizando 'Event Binding'</b>
  </label>
  <input id="iptText" type="text" #iptText (input)="mostrarTexto(iptText.value)" (keyup.enter)="salvarTexto(iptText.value)"
    (blur)="salvarTexto(iptText.value)" value="" />
  <br/>
  <br/>

  <div [appMouseOverHighlight]='slcColorPage'>
    Texto copiado: {{ textoParaSerMostrado }}
    <br/>Texto salvo quando pressionado enter ou retirado foco do input: {{ textoParaSerSalvo }}
  </div>
</div>

<div class="card col-12 mt-3 p-3" style="width: 20rem;" [ngClass]="borderClass()">
  <img class="card-img-top" src="{{ loggedUser?.userAuth?.user?.photoUrl }}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{ loggedUser?.userAuth?.user?.name }}</h4>
    <p class="card-text">{{ loggedUser?.userAuth?.user?.email }}</p>
    <button (click)="fazerLogout()" class="btn btn-primary">LOGOUT</button>
  </div>
</div>

<div class="card col-12 mt-3 p-3" [ngClass]="borderClass()">
  <div class="row align-items-center">
    <div class="col">
      <div>
        <label>
          <b>Copiando texto utilizando 'Two-way Data Binding'</b>
        </label>
      </div>
      <div>
        <div>Texto original</div>
        <input type="text" [(ngModel)]="twoWayText" />
        <br/>
        <br/>

        <div>Texto copiado</div>
        <textarea disabled [placeholder]="twoWayText"></textarea>
      </div>
    </div>
    <app-componente-reusavel class="col" [componenteReusavelSlcColorPage]="slcColorPage" [valor]="valorEnviado" (valorMudou)="valorEnviado = $event.novoValor"></app-componente-reusavel>
  </div>

  <div class="col-12 mt-3">
    <b>
      <i>
        *** Observe que ao mudar valor no componente reusável, pelo fato do mesmo refletir no valor da variável do componente pai,
        e este valor da variável pai estar sendo ouvido pelo componente filho através de property input, ocorre um NgOnChange
        no componente reusável. Para ver detalhes abra o LOG do console e realize a modificação do valor na interface.
      </i>
    </b>
  </div>
</div>

<div class="card col-12 mt-3 p-3" [ngClass]="borderClass()">
  <b>Utilizando Serviço através de Injeção de Dependências</b>
  <br/>

  <form (ngSubmit)="addUsingService(iptNewString)">
    <input type="text" #iptNewString placeholder="Digite algo aqui...">
    <button type="submit" class="btn" [ngClass]="btnClass()">ADD</button>
  </form>

  <span *ngFor="let string of stringsFromService; index as i">
    {{ i + 1 }} - {{ string }}
  </span>
</div>


<div class="card col-12 mt-3 p-3" [ngClass]="borderClass()">
  <b>Utilizando Pipes para transformar dados</b>
  <br/>
  <div class="row">
    <div class="col-6 p-2" style="background-color: rgb(228, 228, 228)">
      <div class="text-center">
        <b>ORIGINAL</b>
      </div>
      <br/>
      <p>Título: {{livro.titulo}}</p>
      <p>Data: {{livro.dataLancamento}}</p>
      <p>Preço: {{livro.preco}}</p>
    </div>
    <div class="col-6 p-2">
      <div class="text-center">
        <b>TRANSFORMADO</b>
      </div>
      <br/>
      <p>Título: {{livro.titulo}}</p>
      <p>Data: {{livro.dataLancamento | date }}</p>
      <p>Preço: {{livro.preco | currency:'BRL':'symbol-narrow'}}</p>
    </div>
  </div>
</div>
<app-chatws></app-chatws>
<br/>