<div class="row justify-content-center">

  <div class="col-10 col-sm-8 col-md-6 col-lg-4 mt-3">
    <form class="form-signin">
      <h2 class="form-signin-heading">Login</h2>
      <label for="inputEmail" class="sr-only">Usuário</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Usuário" required autofocus>
      <br/>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <br/>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="rememberme"> Lembrar
        </label>
      </div>
      <a class="btn btn-lg btn-outline-primary btn-block" href="/main">LOGIN</a>
    </form>
  </div>

</div>