<!--The whole content below can be removed with the new code.-->
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    <button md-button>MAIN</button>
  </md-sidenav>

  <div class="example-sidenav-content">

    <md-toolbar color="primary">
      <button md-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
      <span class="space-toolbar"></span>
      <span>{{title}} | {{currentDatePretty}}</span>
    </md-toolbar>

      <md-card class="card-users" *ngFor="let user of users">
        <md-card-header>
          <md-card-title>{{ user.first_name }}</md-card-title>
        </md-card-header>
      </md-card>

    <button mdTooltipPosition="right" mdTooltip="Click me to update user list." right class="refresh-button" color="warn" md-fab (click)="getUsers()"><md-icon>autorenew</md-icon></button>

  </div>

</md-sidenav-container>
