.space-toolbar {
  flex: 1 1 auto
}

.card-users {
  margin-top: 0.5%;
  margin-bottom: 0.5%
}

.refresh-button {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 3%
}

.example-container {
  height: 100%;
  width: 100%;
  position: absolute
}

.example-sidenav {
  padding: 20px;
}