<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="divClass()" class="mt-2">
  <select [(ngModel)]="slcColorPage" class="btn" [ngClass]="btnClass()">
    <option value="blue">TEMA AZUL</option>
    <option value="red" selected>TEMA VERMELHO</option>
    <option value="orange">TEMA LARANJA</option>
  </select>
</div>

<div class="card m-custom-well-sm p-3 mt-3" [ngClass]="borderClass()">
  <label for="iptText">Copiando / Salvando texto utilizando 'Event Binding'</label>
  <input id="iptText" type="text" #iptText (input)="mostrarTexto(iptText.value)" (keyup.enter)="salvarTexto(iptText.value)"
    (blur)="salvarTexto(iptText.value)" value="" />
  <br/>
  <br/>

  <div [ngClass]="divWithMouseEffectClass()" [ngStyle]="divMouseStyle()" (mouseover)="mouseOverOut()" (mouseout)="mouseOverOut()">
    Texto copiado: {{ textoParaSerMostrado }}
    <br/>Texto salvo quando pressionado enter ou retirado foco do input: {{ textoParaSerSalvo }}
  </div>
</div>

<div class="card p-3 mt-3" [ngClass]="borderClass()">
    <div>
      <label>Copiando texto utilizando 'Two-way Data Binding'</label>
    </div>
    <div>
      <input type="text" [(ngModel)]="twoWayText" />
      <br/>
      <br/>

      <div>Texto copiado</div>
      <textarea disabled [placeholder]="twoWayText"></textarea>
    </div>
</div>

<app-componente-reusavel [componenteReusavelSlcColorPage]="slcColorPage" [valor]="valorEnviado" (valorMudou)="recebeValorModificado($event)"></app-componente-reusavel>

<div class="card p-3 mt-3" [ngClass]="borderClass()">
  <b>
    <i>
      *** Observe que ao mudar valor no componente reusável, pelo fato do mesmo refletir no valor da variável do componente pai,
      e este valor da variável pai estar sendo ouvido pelo componente filho através de property input, ocorre um NgOnChange
      no componente reusável. Para ver detalhes abra o log do console e modifique o valor.
    </i>
  </b>
</div>