<div class="row justify-content-center">

  <div class="col-10 col-sm-8 col-md-6 col-lg-4 mt-3">
    <form class="form-signin">
      <div class="col-12 h-75" class="text-center">
        <h2 class="form-signin-heading">ANGULARING</h2>
        <img src="assets/mario.ico" />
      </div>
      <div class="col-12">
        <div class="mt-3">
          <button class="btn btn-lg btn-outline-primary btn-block" (click)="loginFacebook()">LOGIN COM FACEBOOK</button>
          <button class="btn btn-lg btn-outline-danger btn-block" (click)="loginGoogle()">LOGIN COM GOOGLE</button>
        </div>
      </div>
      <div class="col-12 text-right mt-2">
        <span class="text-secondary">
          <i>by Augusto Mesquita</i>
        </span>
      </div>
    </form>
    <simple-notifications [options]="notificationOption"></simple-notifications>
  </div>

  <div class="main-section" [class.open-more]="menuOpened">
    <div class="row border-chat">
      <div class="col-md-12 col-sm-12 col-xs-12 first-section">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-6 left-first-section" (click)="toggleMessagingBox()">
            <p>Angularing Chat</p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
            <a href="#">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-chat">
      <div class="col-md-12 col-sm-12 col-xs-12 second-section">
        <div class="chat-section">
          <ul [innerHtml]="messagesToAdd"></ul>
        </div>
      </div>
    </div>

    <div class="row border-chat">
      <div class="col-md-12 col-sm-12 col-xs-12 third-section">
        <div class="text-bar">
          <input #msgInpu type="text" (keydown.enter)="sendMessage(msgInpu)" placeholder="Write messege">
          <svg-icon (click)="sendMessage(msgInpu)" src="/assets/send.svg" style="fill:rgb(84, 172, 255); width:16px"></svg-icon>
        </div>
      </div>
    </div>

  </div>

</div>